body {
	background-color:#647796;
}
h1{
	color:white;
	text-align:center;
}
h2{
	color:white;
	text-align:center;
}
p{
	color:white;
	text-align:center;
}
pre{
	color:white;
}
a:hover{
	color:white;
}
a:visited{
	color:white;
}
tr{
	text-align: center;
}
p.credits{
	text-align:center;
}
div.menu{
	text-align:center;
}
table{
	width:100%;
	color:white;
}